table{
	border: 5px solid white;
	background-color: #e8c99b;
	background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
	margin-left: auto;
	margin-right: auto;
}

body{
	background-image: url('food.jpg');
	
}

td.title{
	text-align: center;
}

.burger{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

